.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-1 .u-shape-1 {
  width: 668px;
  height: 668px;
  margin: 61px auto 0 102px;
}

.u-section-1 .u-shape-2 {
  width: 778px;
  height: 754px;
  margin: -463px 53px 0 auto;
}

.u-section-1 .u-group-1 {
  width: 456px;
  min-height: 351px;
  background-image: none;
  margin: -552px 198px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 53px 0 0;
}

.u-section-1 .u-group-2 {
  min-height: 389px;
  width: 397px;
  margin: -478px auto 0 -30px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 458px;
  height: 458px;
  background-image: url("images/20945495.jpg");
  background-position: 50% 50%;
  margin: 4px -77px -73px auto;
}

.u-section-1 .u-image-2 {
  width: 500px;
  height: 500px;
  margin: -529px 228px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 79px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 52px;
  }

  .u-section-1 .u-shape-2 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 220px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    height: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-top: -335px;
  }

  .u-section-1 .u-group-1 {
    margin-right: 84px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-right: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 592px;
  }

  .u-section-1 .u-shape-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -135px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    width: 242px;
    height: 242px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }
}